################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cpp_10_1534_8790/v16/Browse.VC.db
/cpp_10_01_1534_8790/.vs/cpp_10_01_1534_8790/v16/Browse.VC.opendb
